# system files
.DS_Store

# bison compile files
/parser.tab.*

# flex compile files
/lex.yy.c

# compiler generated
cimples_compiler

# Debug files
*.dSYM/
*.exe
cimples_compiler.dSYM/Contents/Resources/DWARF/cimples_compiler

# Latex files
artigo-projeto-final/*
!artigo-projeto-final/artigo.tex

proposta-projeto-final/*
!proposta-projeto-final/proposta.tex
!proposta-projeto-final/head.tex
!proposta-projeto-final/style/